<header>
    <nav class="nav">
        <div class="nav-content container container-md">
            <h1><a href="index.html" class="logo">眼鏡官網</a></h1>
            <ul class="menu">
                <li><a href="product-optical.html">系列鏡框</a></li>
                <li><a href="store-locations.html">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
        </div>
    </nav>
</header>