<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>product-optical</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <main>
      <ul class="style fw-medium">
        <li class="optical action"><a href="product-optical.html">OPTICAL</a></li>
        <li class="sunglasses"><a href="product-sunglasses.html">SUNGLASSES</a></li>
        <li><a href="#">FUNCTIONAL</a></li>
      </ul>
      <div class="style-img">
        <img src="/assets/images/product-header-1.png" alt="img-left">
        <img src="/assets/images/product-header-2.png" alt="img-rught">
      </div>
      <div class="style-img-sm">
        <img src="/assets/images/product-header-sm-1.png" alt="img-left">
        <img src="/assets/images/product-header-sm-2.png" alt="img-rught">
      </div>
      <div class="product container container-md container-sm">
        <div class="product-title">
          <h2 class="fw-medium">Celluloid Combi</h2>
          <p>賽璐珞鈦金屬混合鏡框</p>
        </div>
        <ul class="product-content row">
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-1.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-2.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-3.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-4.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-5.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-6.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-1.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-2.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-3.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-4.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-5.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="/assets/images/product-6.png" alt="product-1">
            <div class="model-content">
              <p class="model">BJ41600S</p>
              <p class="price">NTD3,490</p>
            </div>
            <div class="model-color">
              <div class="model-color-1"></div>
              <div class="model-color-2"></div>
            </div>
          </li>
        </ul>
      </div>
      <ul class="pagination container">
        <li class="previous"><a href="#">上一頁</a></li>
        <li class="page"><a href="#">1</a></li>
        <li class="page page-2"><a href="#">2</a></li>
        <li class="page"><a href="#">3</a></li>
        <li class="page"><a href="#">4</a></li>
        <li class="page"><a href="#">5</a></li>
        <li class="next"><a href="#">下一頁</a></li>
      </ul>
    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>